[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
googletrans = "==4.0.0rc1"
django-crispy-forms = "*"
openexchangerate = "*"
django-prices-openexchangerates = "*"
django-prices = "*"

[dev-packages]

[requires]
python_version = "3.9"
