{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="MuiBox-root jss59 jss48" id="aboutme"><div class="MuiContainer-root MuiContainer-maxWidthLg"><div class="jss49"><p><strong>Hey!</strong></p>
<p>I'm Daniel Hirshson from Israel, Tel Aviv!<br>
I love programming, (but really anything to do with learning new things about technology and computers!)<br>
Feel free to get in touch or take a look at my past work.</p>
        <p> Email: danielhirshson@gmail.com</p>
    </div></div></div>
</div>
{% endblock content %}